
*{
    margin: 0px;
    padding: opx;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: black; */
}
.h1{
    color:green;
    background-color: black;
    font-size: 50%;
    text-align: center;
    
}
p{
    color: aqua;
    background-color: black;
}